@font-face {
  font-family: "Montserat";
  src: url(../font/Montserrat-Bold.woff);
}
@font-face {
  font-family: "Kaushan";
  src: url(../font/KaushanScript-Regular.woff);
}
@font-face {
  font-family: "Raleway";
  src: url(../font/Raleway-Bold.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.container_Mo {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

ul.hr {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
ul.hr li {
  margin-right: 1rem;
}
li:last-child {
  margin-right: 0;
}
li:not(:last-child) {
  margin-right: 1rem;
}

li::after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 0, 85);
  transition: all 0, 3s ease;
}
li:hover::after {
  opacity: 1;
}
a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0, 3s ease;
}
a:hover {
  color: crimson;
}
section.Mogo {
  background-image: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../images/Rectangle\ 2.png);
}
.subtitle {
  padding-top: 150px;
  font-size: 64px;
  line-height: 93px;
  text-align: center;
  font-family: "Kaushan";
  color: #ffffff;
}

.caption {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserat";
  font-size: 144px;
  line-height: 176px;
  color: #ffffff;
  margin: auto;
}

.line {
  border-bottom: 5px solid rgb(243, 239, 239);
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 44px;
}
.btn {
  border: 4px solid #ffffff;
  box-sizing: border-box;
  width: 400px;
  padding: 20px;
  margin-top: 72px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway";
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
ul.hr2 li {
  display: inline-block;
  padding: 40px;
  width: 22%;
  margin-top: 50px;
}
section.story_about_us {
  background-color: #ffffff;
}
.img {
  position: relative;
  width: 370px;
  display: flex;
}
.img_img:not(:last-child) {
  margin-right: 1rem;
}
.img:hover .img_hover {
  opacity: 1;
}
.img_hover {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.text {
  text-align: center;
  padding-top: 42px;

  padding-top: 42px;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;

  font-family: "Kaushan";
}
.title {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "Raleway";

  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  line-height: 42px;
  font-size: 30px;
}
.line2 {
  border-bottom: 4px solid rgb(238, 154, 154);
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 30px;
}
.text2 {
  padding-top: 30px;
  padding-bottom: 6rem;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-family: "Raleway";
}

section.stats {
  background-color: #95e1d3;
}
.brd {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.brd1 {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 234px;
  height: 250px;
  text-align: center;
  padding-top: 6em;
}

section.amazing_services {
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.box {
  display: flex;
  justify-content: center;
  width: 30%;
  padding-bottom: 60px;
}
.icon {
  padding-right: 2rem;
  padding-bottom: 5rem;
}

section.devices {
  background: url(../images/unsplash_lpjb_UMOyx8.png);
  background-size: 100% 100%;
}
.gallery {
  position: relative;
}
.picture {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}
.picture_ {
  border: 20px solid #0f1111e3;
  border-radius: 20px;
}
.im {
  position: absolute;
  display: flex;
  flex: 1 1 auto;
  left: 750px;
  top: 0px;
}
.picture1 {
  position: absolute;
  left: 20px;
  top: 310px;
}
section.servise {
  background: #fffdfd;
}
.sidebar__img {
  display: flex;
  justify-content: flex-start;

  padding-bottom: 100px;
}

section.message {
  background: #f5f1f1;
  padding-top: 5%;
  padding-left: 10%;
}
.mes {
  display: flex;
  justify-content: space-between;
}

.divider {
  border-bottom: 4px solid rgb(224, 99, 147);
  margin-left: 170px;
  width: 6%;
  padding-top: 55px;
}
.text3 {
  text-align: left;
  width: 80%;
  padding-top: 5px;
}
section.meet_our_team {
  background: #555353;
}
.item {
  position: relative;
  width: 370px;
  display: flex;
}
.item_image:not(:last-child) {
  margin-right: 1rem;
}
.item:hover .item__hover {
  opacity: 1;
}

.item__hover {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.item__hover a {
  width: 20px;
  display: flex;
}

.subject {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  display: inline-block;
  width: 31%;
}
.name {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 31%;
  padding-top: 10px;
  padding-bottom: 50px;
}
section.black {
  background-color: rgba(248, 248, 248, 1);
}
.element {
  display: flex;
  justify-content: space-evenly;
}
